<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="ToDoList">
    <meta property="og:type" content="List">
    <meta property="og:url" content="https://cyut107.github.io/">
    <meta property="og:locale" content="zh-Hant-TW">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="ToDoList.css">
    <link rel="icon" href="static/titleIcon.png" type="image/x-icon">
    <title>ToDoList</title>
</head>
<body>
    <main id="list">
        <aside>
            <ul>
                <li><a href="#" title="未完成任務" :class="{'active':status == 'no'}" @click="status='no'">未完成</a></li>
                <li><a href="#" title="已完成任務" :class="{'active':status == 'yes'}" @click="status='yes'">已完成</a></li>
                <li><a href="#" title="所有任務" :class="{'active':status == 'all'}" @click="status='all'">所有</a></li>
            </ul>
        </aside>    
        <h2>To&nbsp;Do&nbsp;List</h2>    
        <section>
            <input type="text" v-model="listItem" placeholder="請輸入任務名稱...">
            <button type="button" id="add" @click="add">+</button>
            <ol>
                <li v-for="(item, index) in filterItems" v-if="item.text !=''">
                    <input type="checkbox" v-model="item.completed">                   
                    <label :class="{ 'completed':item.completed }">&nbsp;{{ item.text }}</label>
                    &nbsp;<button type="button" id="remove" @click="remove(index)">×</button>                                                              
                </li>
            </ol>   
            <button type="button" id="removeAll" @click="removeAll(index)">刪除全部任務</button>  
        </section>       
    </main>   
    <div id="topButton" title="到頂端">Λ</div>     
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
<script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>  
<script src="ToDoList.js" type="text/javascript"></script>   
</body>
</html>
